In [ ]:
import mysql.connector
from mysql.connector import Error
import pandas as pd

# def connect_mysql(hostname,username,password):
#     connection = None
#     try:
#         connection = mysql.connector.connect(host = hostname,user = username,passwd = password)
#         print("MySQL connection successful!")
#     except Error as err:
#         print(f"Error:'{err}'" )
#     return connection
# connection = connect_mysql("localhost","root","Atharva@28")

# class Books:
#   def __init__(self,):
#     self.name = name
#     self.author = author
#     self.cupboardNo = cupboardNo
#     self.quantity = quantity
#     self.isavailable = True
#     self.bookcode = bookcode
    
# def create_Database(connection,query):
#     cursor = connection.cursor(buffered=True)
#     try:
#         cursor.execute(query)
#         print("Database created successfully!")
# #     except mysql.DatabaseError:
# #         pass
#     except Error as err:
#         print(f"Error: '{err}'")
        
# create_Database(connection,"CREATE DATABASE Books")

# def Database_Connection(hostname,username,password,db):
#     DatabaseConnection = None
#     try:
#         connection = mysql.connector.connect(host = hostname, user = username, passwd = password,database = db)
#         print("Database Connected successfully")
#     except Error as err:
#         print(f"Error: '{err}'")
#     return DatabaseConnection

# DatabaseConnection = Database_Connection("localhost","root","Atharva@28","Books")

# def Queries(connection,query):
#     cursor = connection.cursor(buffered=True)
#     try:
#         cursor.execute(query)
#         connection.commit()
#         print("Query was successful")
#     except Error as err:
#         print(f"Error: '{err}'")
        
# Use_Database = "USE books;"
# Queries(connection,Use_Database)

# Create_Table = """
# CREATE TABLE demo(
# id INT PRIMARY KEY,
# name VARCHAR(255)
# );"""
# Queries(connection,Create_Table)

# Insert = "INSERT INTO demo VALUES(2,'ABC')"
# Queries(connection,Insert)

# Select = "SELECT * FROM demo"
# Queries(connection,Select)

# def read(connection,query):
#     cursor = connection.cursor(buffered=True)
#     result = None
#     try:
#         cursor.execute(query)
#         result = cursor.fetchall()
#         return result
#     except:
#         pass
    
# read(connection,Select)

:

In [3]:
def connect_mysql(hostname,username,password):
    connection = None
    try:
        connection = mysql.connector.connect(host = hostname,user = username,passwd = password)
        print("MySQL connection successful!")
    except Error as err:
        print(f"Error:'{err}'" )
    return connection

connection = connect_mysql("localhost","root","Atharva@28")

MySQL connection successful!

In [ ]:
class Books:
  def __init__(self,name,author,cupboardNo,quantity,bookcode):
    self.name = name
    self.author = author
    self.cupboardNo = cupboardNo
    self.quantity = quantity
    self.isavailable = True
    self.bookcode = bookcode

In [4]:
def create_Database(connection,query):
    cursor = connection.cursor(buffered=True)
    try:
        cursor.execute(query)
        print("Database created successfully!")
#     except mysql.DatabaseError:
#         pass
    except Error as err:
        print(f"Error: '{err}'")
        
create_Database(connection,"CREATE DATABASE Books")

Error: '1007 (HY000): Can't create database 'books'; database exists'

In [90]:
def Database_Connection(hostname,username,password,db):
    DatabaseConnection = None
    try:
        DatabaseConnection = mysql.connector.connect(host = hostname, user = username, passwd = password,database = db)
        print("Database Connected successfully")
    except Error as err:
        print(f"Error: '{err}'")
    return DatabaseConnection

DatabaseConnection = Database_Connection("localhost","root","Atharva@28","Books")

Database Connected successfully

In [91]:
def Queries(connection,query):
    cursor = connection.cursor(buffered=True)
    try:
        cursor.execute(query)
        connection.commit()
        print("Query was successful")
    except Error as err:
        print(f"Error: '{err}'")

In [92]:
Use_Database = "USE books;"
Queries(connection,Use_Database)

Query was successful

In [93]:
Create_Table = """
CREATE TABLE data(
Name VARCHAR(255) PRIMARY KEY,
Author VARCHAR(255),
CupboardNo INT,
Quantity INT,
IsAvailable INT,
BookCode INT
);"""
Queries(connection,Create_Table)

Error: '1050 (42S01): Table 'data' already exists'

In [94]:
Insert = "INSERT INTO demo VALUES(2,'ABC')"
Queries(connection,Insert)

Error: '1146 (42S02): Table 'books.demo' doesn't exist'

In [95]:
Select = "SELECT * FROM data"
Queries(connection,Select)

Query was successful

In [96]:
def read(connection,query):
    cursor = connection.cursor(buffered=True)
    result = None
    try:
        cursor.execute(query)
        result = cursor.fetchall()
        return result
    except:
        pass

In [ ]:
print(read(connection,Select))

:

In [157]:
def AddBook(name,author,cupboardNo,quantity,isavailable,bookcode):
    Insert = "INSERT INTO data VALUES('{}','{}',{},{},{},{})".format(name,author,cupboardNo,quantity,isavailable,bookcode)
    Queries(connection,Insert)
AddBook("ABC","Atharva",1,1,True,1)

Query was successful

In [156]:
def DeleteBook(bookcode):
    Delete = "DELETE FROM data WHERE bookcode = {}".format(bookcode)
    Queries(connection,Delete)
DeleteBook(1)

Query was successful

In [151]:
def isAvailable_byName(name):
    IsAvailable = "SELECT * FROM data WHERE (name='{}') & (isavailable=1)".format(name)
    result = read(connection,IsAvailable)
    if(result):
        return result
    else:
        return 0
isAvailable_byName('ABC')

[]

In [152]:
def isAvailable_byBookCode(bookcode):
    IsAvailable = "SELECT * FROM data WHERE (bookcode='{}') & (isavailable=1)".format(bookcode)
    result = read(connection,IsAvailable)
    if(result):
        return result
    else:
        return 0
isAvailable_byName(1)

[]

In [153]:
def find_byName(name):
    IsAvailable = "SELECT * FROM data WHERE (name='{}')".format(name)
    result = read(connection,IsAvailable)
    return result
find_byName('ABC')

[('ABC', 'Atharva', 1, 0, 0, 1)]

In [160]:
def find_byBookCode(bookcode):
    IsAvailable = "SELECT * FROM data WHERE (bookcode={})".format(bookcode)
    result = read(connection,IsAvailable)
    return result
find_byBookCode(1)

[]

In [171]:
def IssueBook_byName(name):
    result = find_byName(name)
    if(result[0][-2]):
        if(result[0][3]==1):
            Update = """UPDATE DATA
            SET isavailable=0
            WHERE name='{}';""".format(name)
            Queries(connection,Update)
        Update = """UPDATE data
        SET quantity = {}
        WHERE name='{}';""".format(result[0][3]-1,name)
        Queries(connection,Update)
    else:
        print("Book not available")
    
IssueBook_byName('ABC')

Query was successful
Query was successful

In [172]:
def IssueBook_byBookCode(bookcode):
    result = find_byBookCode(bookcode)
    if(result[0][-2]):
        if(result[0][3]==1):
            Update = """UPDATE DATA
            SET isavailable=0
            WHERE bookcode={};""".format(bookcode)
            Queries(connection,Update)
        Update = """UPDATE data
        SET quantity = {}
        WHERE bookcode={};""".format(result[0][3]-1,bookcode)
        Queries(connection,Update)
    else:
        print("Book not available")

        
IssueBook_byBookCode(1)

Book not available

In [165]:
def returnbook_byName(name):
    result = find_byName(name)
    if(result[0][3]==0):
        Update = """UPDATE DATA
        SET isavailable=1
        WHERE name='{}';""".format(name)
        Queries(connection,Update)
    Update = """UPDATE data
    SET quantity = {}
    WHERE name='{}';""".format(result[0][3]+1,name)
    Queries(connection,Update)
        
        

returnbook_byName('ABC')

Query was successful

In [163]:
def returnbook_byBookCode(bookcode):
    result = find_byBookCode(bookcode)
    if(result[0][3]==0):
        Update = """UPDATE DATA
        SET isavailable=1
        WHERE bookcode={};""".format(bookcode)
        Queries(connection,Update)
    Update = """UPDATE data
    SET quantity = {}
    WHERE bookcode={};""".format(result[0][3]+1,bookcode)
    Queries(connection,Update)
        
        

returnbook_byBookCode(1)

Query was successful

In [20]:
Queries(connection,"DROP TABLE demo")

Error: '1051 (42S02): Unknown table 'books.demo''